

.card-dashboard{
  background-color: white;
  border-radius: 0.9rem;
  box-shadow: 0 4px 8px rgba(179, 179, 179, 0.1);
  padding: 1.5rem;
  display: flex;
  width: 100%;
  margin-bottom: 0.5rem;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.text-dashboard-one {
  color:#444444;
  font-size: 24px;
}

.text-dashboard-two {
  color: #7A7A7A;
}

.aling-self-center{
  align-self: center;
}

.color-icon{
  color: #000;
}

.align-center {
  align-items: center;
}

