        <div id="features" class="my-8 py-8 md:my-10 md:py-10">
            <span class="text-surface-900 dark:text-surface-0 block font-bold text-5xl mb-6 text-center">
                Nuestros Servicios
            </span>
            <span class="text-surface-700 dark:text-surface-100 block text-xl mb-20 text-center leading-normal">
                En Óptica Visión Plus trabajamos con tecnología avanzada y un equipo de profesionales dedicados a cuidar tu salud visual con la mejor atención y calidad.
            </span>
            <div class="grid grid-cols-12 gap-4 mt-20">
                <div class="col-span-12 md:col-span-6 xl:col-span-3 flex justify-center p-4">
                    <div class="box p-6 w-full bg-surface-0 dark:bg-surface-900 border-surface-200 dark:border-surface-700 border rounded">
                        <img
                            src="/demo/images/landing/icon-components.svg"
                            alt="components icon"
                            class="block mb-4"
                        />
                        <span class="text-surface-900 dark:text-surface-0 block font-semibold mb-4 text-lg">
                            Exámenes Visuales Profesionales
                        </span>
                        <p class="m-0 text-secondary text-surface-700 dark:text-surface-100">
                            Contamos con optómetras expertos y equipos de última tecnología para evaluar tu visión con precisión y cuidado.
                        </p>
                    </div>
                </div>
                <div class="col-span-12 md:col-span-6 xl:col-span-3 flex justify-center p-4">
                    <div class="box p-6 w-full bg-surface-0 dark:bg-surface-900 border-surface-200 dark:border-surface-700 border rounded">
                        <img
                            src="/demo/images/landing/icon-community.svg"
                            alt="components icon"
                            class="block mb-4"
                        />
                        <span
                            class="text-surface-900 dark:text-surface-0 block font-semibold mb-4 text-lg"
                            >Atención Personalizada</span
                        >
                        <p class="m-0 text-secondary text-surface-700 dark:text-surface-100">
                             Nos enfocamos en tus necesidades visuales, brindándote una experiencia cálida y un asesoramiento especializado.
                        </p>
                    </div>
                </div>
                <div class="col-span-12 md:col-span-6 xl:col-span-3 flex justify-center p-4">
                    <div class="box p-6 w-full bg-surface-0 dark:bg-surface-900 border-surface-200 dark:border-surface-700 border rounded">
                        <img
                            src="/demo/images/landing/icon-productivity.svg"
                            alt="components icon"
                            class="block mb-4"
                        />
                        <span class="text-surface-900 dark:text-surface-0 block font-semibold mb-4 text-lg">
                             Entrega Rápida</span>
                        <p class="m-0 text-secondary text-surface-700 dark:text-surface-100">
                           Realizamos tus lentes en tiempo récord sin comprometer la calidad, para que disfrutes una visión perfecta cuanto antes.
                        </p>
                    </div>
                </div>
                <div class="col-span-12 md:col-span-6 xl:col-span-3 flex justify-center p-4">
                    <div class="box p-6 w-full bg-surface-0 dark:bg-surface-900 border-surface-200 dark:border-surface-700 border rounded">
                        <img
                            src="/demo/images/landing/icon-accessibility.svg"
                            alt="components icon"
                            class="block mb-4"
                        />
                        <span class="text-surface-900 dark:text-surface-0 block font-semibold mb-4 text-lg">
                            Accesibilidad
                        </span>
                        <p class="m-0 text-secondary text-surface-700 dark:text-surface-100">
                           Ofrecemos precios justos, facilidades de pago y promociones especiales para que cuidar tu vista esté al alcance de todos.
                        </p>
                    </div>
                </div>
                <div class="col-span-12 md:col-span-6 xl:col-span-3 flex justify-center p-4">
                    <div class="box p-6 w-full bg-surface-0 dark:bg-surface-900 border-surface-200 dark:border-surface-700 border rounded">
                        <img
                            src="/demo/images/landing/icon-support.svg"
                            alt="components icon"
                            class="block mb-4"
                        />
                        <span class="text-surface-900 dark:text-surface-0 block font-semibold mb-4 text-lg">
                            Garantía y Soporte
                        </span>
                        <p class="m-0 text-secondary text-surface-700 dark:text-surface-100">
                            Te acompañamos después de tu compra con garantía en tus productos y asesoría continua.
                        </p>
                    </div>
                </div>
                <div class="col-span-12 md:col-span-6 xl:col-span-3 flex justify-center p-4">
                    <div class="box p-6 w-full bg-surface-0 dark:bg-surface-900 border-surface-200 dark:border-surface-700 border rounded">
                        <img
                            src="/demo/images/landing/icon-mobile.svg"
                            alt="components icon"
                            class="block mb-4"
                        />
                        <span class="text-surface-900 dark:text-surface-0 block font-semibold mb-4 text-lg">
                            Atención a Domicilio
                        </span>
                        <p class="m-0 text-secondary text-surface-700 dark:text-surface-100">
                           Llevamos nuestros servicios hasta tu hogar o empresa para mayor comodidad y seguridad.
                        </p>
                    </div>
                </div>
                <div class="col-span-12 md:col-span-6 xl:col-span-3 flex justify-center p-4">
                    <div class="box p-6 w-full bg-surface-0 dark:bg-surface-900 border-surface-200 dark:border-surface-700 border rounded">
                        <img
                            src="/demo/images/landing/icon-theme.svg"
                            alt="components icon"
                            class="block mb-4"
                        />
                        <span class="text-surface-900 dark:text-surface-0 block font-semibold mb-4 text-lg"
                            >Variedad de Estilos</span>
                        <p class="m-0 text-secondary text-surface-700 dark:text-surface-100">
                            Lentes, monturas y gafas de sol para todos los gustos, desde lo clásico hasta lo moderno.
                        </p>
                    </div>
                </div>
                <div class="col-span-12 md:col-span-6 xl:col-span-3 flex justify-center p-4" >
                    <div class="box p-6 w-full bg-surface-0 dark:bg-surface-900 border-surface-200 dark:border-surface-700 border rounded">
                        <img
                            src="/demo/images/landing/icon-ts.svg"
                            alt="components icon"
                            class="block mb-4"
                        />
                        <span class="text-surface-900 dark:text-surface-0 block font-semibold mb-4 text-lg">
                             Tecnología Óptica
                        </span>
                        <p
                            class="m-0 text-secondary text-surface-700 dark:text-surface-100">
                           Trabajamos con cristales y recubrimientos de alta gama que garantizan precisión y confort visual.
                        </p>
                    </div>
                </div>
            </div>
        </div>
