<p-toast></p-toast>
<p-dialog
    
    [(visible)]="layoutService.layoutState().changePaswordVisible"
    (onHide)="closeDialog()" 
    [dismissableMask]="true" 
    [modal]="true"
    [style]="{ width: '35rem' }"
    contentStyleClass=" border-surface-200 dark:border-surface-700 "
>
        <ng-template pTemplate="header">
                <span class="text-400 font-semibold tamaño text-xl ml-1 md:p-1"> Cambiar contraseña</span>
        </ng-template>
    <form [formGroup]="form">
        <div class="flex flex-col mt-1 gap-1 p-4 md:p-2">
                <div class="my-2">
                    <p-floatlabel class="w-full">
                        <p-password formControlName="password"  
                                inputId="Contraseña" fluid  
                                styleClass="w-full custom-password"
                                [toggleMask]="true"
                                weakLabel="Baja"
                                mediumLabel="Media"
                                strongLabel="Fuerte"
                                >
                        </p-password>
                        <label for="Contraseña">Contraseña</label>
                    </p-floatlabel>
                    <app-error-messages ngClass="ml-2 mt.1" [control]="form.get('password')" class="error-message"></app-error-messages>
                </div>
                <div class="my-2">
                    <p-floatlabel class="w-full">
                        <p-password formControlName="confirmaPassword" 
                                inputId="Contraseña" fluid  
                                styleClass="w-full custom-password"
                                [toggleMask]="true"
                                autocomplete="current-password"
                                weakLabel="Baja"
                                mediumLabel="Media"
                                strongLabel="Fuerte"
                            (input)="verificacionPassword()"
                                >
                        </p-password>
                        <label for="Contraseña">Contraseña</label>
                    </p-floatlabel>
                    <app-error-messages ngClass="ml-2" [control]="form.get('confirmaPassword')" class="error-message"></app-error-messages>
                </div>
              @if(errorPassword){
            <div class="text-blue-500 text-lg">
                <span>Recuerda que las contraseñas deben coincidir</span>
            </div>
        }
      </div>


    </form>
        <div class="flex gap-2 mt-4 w-full">
            <div class="flex-1">
                <p-button label="Cancelar" severity="secondary" (click)="closeDialog()" styleClass="w-full"></p-button>
            </div>
            <div class="flex-1">
                <p-button class="" [disabled]="(this.form.invalid)||(errorPassword) " label="Guardar" (click)="changePassword()"  styleClass="w-full"></p-button>
            </div>
        </div>
</p-dialog>
