            <p-carousel [value]="products" [numVisible]="2" [numScroll]="2" [circular]="false" [responsiveOptions]="carouselResponsiveOptions">
                <ng-template let-product #item>
                    <div class="border border-surface rounded-border m-2 p-6">
                        <div class="mb-6">
                        <div class="relative mx-auto image-container">
                            <img
                            [src]="product.image"
                            [alt]="product.name"
                            class="cliente-img"
                            />
                        </div>
                        </div>
                        <div class="mb-6 font-medium">{{ product.name }}</div>
                        <div class="flex justify-between items-center">
                        </div>
                    </div>
                </ng-template>
            </p-carousel>

